version: '3.8'
services:

  frontend:
      build:
        context: ./tms_frontend
      container_name: react-frontend
      ports:
        - "3300:80"
      stdin_open: true
      tty: true
      depends_on:
        - backend
  db:
    image: postgres:17
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: HealthTechSolutions
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./tms_backend
    container_name: django-backend
    ports:
      - "8800:8000"
    depends_on:
      - db

volumes:
  postgres_data: